<p id="notice"><%= notice %></p>

<div class="row">






<img src="https://s3.amazonaws.com/mdlet718/tube.png" alt="myTube Logo">

<p>

  <div class="small-5 columns">
  <video width="320" height="240" controls>
    <source src= <%= @movie.url %> type="video/mp4">

      Your browser does not support the video tag.
    </video>
  </p>

</div>

  <div class="small-7 columns">
  <div class="panel">

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Cast:</strong>
  <%= @movie.cast %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Length:</strong>
  <%= @movie.length %>
</p>



<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>


</div>
